@charset "UTF-8";

@font-face {
    font-family: "sriracha";
    src: url("../fonts/Sriracha-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "passionOne";
    src: url("../fonts/PassionOne-Bold.ttf") format("truetype");
}

:root {
    --cor1: black;
    --cor2: white;
    --font-padrao: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: var(--cor2);
    font-family: var(--font-padrao);
}

header {
    background-color: black;
    text-align: center;
    padding: 10px;
}

header h1 {
    font-family: "passionOne";
    font-size: 8vw;
    padding-top: 50px;
    font-variant: small-caps;
    color: var(--cor2);
}

header p {
    color: white;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

pre, .imagem{
    font-family: "sriracha";
    font-size: 2.5vw;
    margin-top: 50px;
}

.imagem > p {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 120px;
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.486);
    color: var(--cor2);
}

section#img1 {
    background: white url("../imagens/background001.jpg") center center no-repeat fixed;
    background-size: cover;
}

section#img2 {
    background: white url("../imagens/background002.jpg") center center no-repeat fixed;
    background-size: cover;
}

footer {
    background-color: var(--cor1);
    color: var(--cor2);
    padding: 10px 0px;
    text-align: center;
}
