@charset "UTF-08";

@font-face {
    font-family: "android";
    src: url('../fontes/idroid.otf') format('opentype');
}

@font-face {
    font-family: "nunito";
    src: url("../fontes/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf") format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #84E1AD;
    font: normal normal 16px "nunito", arial, Helvetica, sans-serif;       
}

header {
    background-image: linear-gradient(to top, #3F6339, #468E39, #2ac50f);
    padding: 50px 20px 15px 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.377);    
}

header > h1 {
    padding-bottom: 15px;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    color: white;
}

header > p {
    text-align: center;
    color: white;
    padding-bottom: 30px;
}

nav > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
}

nav > a:hover {
    background-color: rgba(106, 233, 106, 0.349);
}

nav > a:active {
    color: #2ac50f;
}

main {
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.377);
    border-radius: 0px 0px 10px 10px;
}

main p {
    margin: 20px 0px;
}

strong {
    color: #306648;
    font-weight: bold;
}

img {
    width: 100%;
}

.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

.padraolink{
    text-decoration: none;
    color: #306648;
    font-weight: bold;
}

.padraolink:hover{
    background-color: #306648;
    color: white;
    font-weight: bold;
}

.padraolink:active{
    color: #2ac50f;
    background-color: #306648c9;
}

main > section > article > p {
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
}

section#introducao > article > h1 {
    font: bold 28px "android", arial, Helvetica, sans-serif;
    color: #346F4F;
    padding: 15px 0px;
}

.desenvolvimento > article > h2 {
    font:  bold 22px "android", arial, Helvetica, sans-serif;
    color: #346F4F;
    margin: 15px 0px;
    background-image: linear-gradient(to right, #346f4d75, white);
}

.video {
    background-color: #346F4F;
    position: relative;
    padding-bottom: 56.5%;
    margin: 0px -10px;
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.destaque {
    font-weight: bold;
    color: white;
    background-color: #346F4F;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
}

.quadro {
    background-color: #84e1ac85;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

.quadro > ul {
    list-style-type: "\1F5F8\00a0\00a0";
    padding: 10px;
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: #346F4F;
    margin-top: 30px;
    padding: 5px 0px;
    text-align: center;
    color: white;
    font-size: 12px;
}

footer > p> a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer > p > a:hover {
    color: #2ac50f;
}

footer > p > a:active {
    color: rgba(255, 0, 0, 0.76);
}
