@charset "UTF-08";

body {
    background-color: rgba(189, 252, 231, 0.815);
    font: 18px arial, helvetica, sans-serif;
}

h1 {
    color: rgb(29, 134, 96);
}

h1#principal {
    color: brown;
    text-align: center;
}

h2 {
    color: rgb(39, 179, 127);
}
.basico {
    color: green;
}

.intermediario {
    color: pink;
}

.avancado {
    color: yellow;
}

.destaque {
    background-color: rgba(128, 0, 128, 0.562);
}